.view-at-view-cover-page-slideshow {
  .view-content {
    background-color: #e5e5e5;
  }

  .cover-page-issue {
    text-align: center;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto
    }
  }
}