.view-at-view-cover-page-slideshow {

  background-image: url("../images/nature.jpg");

  button {
    outline: none;
  }

  .view-content {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
  }

  .view-content.slick-initialized {
    visibility: visible;
    opacity: 1;
  }

  .cover-page-issue {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    padding: .5rem;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border: 2px solid white;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 35%;
    border: 0;
    background: transparent;
    height: 80px;
    color: transparent;

    a:hover {
      outline: none;
    }
  }

  .slick-next {
    right: 0;
  }

  .slick-prev:before {
    content: "<";
    padding: 0 10px;
    color: orange;
    position: absolute;
    font-size: 50px;
    top: 0%;
    left: 20%;
  }

  .slick-next:before {
    content: ">";
    padding: 0 10px;
    color: orange;
    position: absolute;
    font-size: 50px;
    top: 0%;
    right: 20%;
  }
}