{{ attach_library('arrowtrade/slick') }}
{{ attach_library('arrowtrade/slider') }}

<div class="your-class">
    <div>your content</div>
    <div>your content</div>
    <div>your content</div>
</div>
