<header id="header">
  <div class="header-container">
    <div class="header-container--logo">
      <a href="home">
        <img src="{{ url('<front>') }}/{{ directory}}/images/arrowtrade_logo.png" alt="Arrowtrade logo">
      </a>
    </div>
    <div class="header-container--menu">
      {{ content }}
    </div>
  </div>
</header>